<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>CUBE - A Place to Play Puzzles</title>
    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css"/>
    <script>
		function redirect(){
				window.location = "/index";
		}
		
    </script>
  </head>
	<body>
		<div id="main">
			<div id="contant2">
				<p class="head">Do Great Things.<p>
				<br/>
				<p class="body-text">Play Game with Cube</p> 
				<br/>
				<button class="google" id="login" onclick="redirect();">
					<img id="google-signup-icon" alt="g" src="http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/32/social_google_box.png" style="width:32px;hight:32px;">
					Sign in With Google >>
				</button>
			</div>
		</div>
	</body>
</html>
