<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>CUBE - A Place to Play Puzzles</title>
    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css"/>
  </head>
  <body>
    <input type="hidden" id="game-type" value="{{ game_type }}"/>
    <div id="nav">
      <b>{{ current_user["name"] }}</b> -
      <a href="/auth/logout">{{ _("Sign out") }}</a>
    </div>
      
  <div id="main">
        <a href="/cube">Choose Game Type</a>
    <div id="contant">
		<canvas id="canvas_cube" ></canvas>
		<div><div id="canvasHeading">
		</div>
		<div id="number_moves">
		</div>
		<div id="btndiv">
			<input type="button" onclick="checkSolution()" value="CHECK"/>&nbsp;
			&nbsp;<input type="button" onclick="resetCanvas()" value="RESET"/>&nbsp;
			&nbsp;<input type="button" onclick="getSolution()" value="SHOW"/>&nbsp;
			&nbsp;<input type="button" onclick="getRandom()" value="RANDOM" {% if game_type == 'tournament' %} style="display:none;" {% end %} />&nbsp;
			&nbsp;<input type="button" onclick="getHelp()"value="HELP"/>&nbsp;
		</div>
		</br>
	</div>
	{% if game_type == 'tournament' %}
	    <div id="chatbox">
	      <span>Moves from Users</span>
	      <div id="inbox">
		    {% for message in messages %}
		      {% module Template("message.html", message=message) %}
		    {% end %}
	      </div>
	      <div id="input">
		    <form action="/a/message/new" method="post" id="messageform">
		      <table>
			    <tr>
			      <td><input name="body" id="message" style="width:500px;display:none;"></td>
			      <td style="padding-left:5px">
				    <input type="submit" style="display:none;" value="{{ _("Post") }}"/>
				    <input type="hidden" name="next" value="{{ request.path }}"/>
				    {% module xsrf_form_html() %}
			      </td>
			    </tr>
		      </table>
		    </form>
	      </div>    
	    </div>
    {% end %}	    

	
    </div>
    <script src="{{ static_url("jquery.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("chat.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("shady.js") }}" type="text/javascript"></script>
    <script>
    window.onload=shadyInit();
    window.onbeforeunload = function() {
		return "Dude, are you sure you want to leave? Think of the kittens!";
		}
	</script>
  </body>
</html>
